@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Import de la font Roboto depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Roboto', sans-serif;
}


.container {
   width: 100%;
   height: 800px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.branche-left{
 position: relative;
 height: 100vh;
 width: 260px;
 top: 0px;
 left: 465px;
margin: 40px;
margin-top: 0px;
margin-left: 37px;
margin-right: 45px;
margin-bottom: 50px;
}

.branche-right {
position: relative;

height: 550px;
width: 260px;
top: 0px;
left: 413px;
margin: 40px;
margin-top: 0px;
margin-left: 32px;
margin-right: 50px;
margin-bottom: 47px;
}

.can {
height: 100px;
width: 71%;
position: relative;
top: -43px;
left: -150px;
margin: 50px;
margin-top: 70px;
margin-right: 50px;
margin-bottom: 80px;
}
.branche {
   height: 800px;
   display: flex;
   justify-content: center;
   align-items: center;
   left: -400px;
   margin: 50px;
   margin-top: 50px;
   margin-right: 50px;
   margin-bottom: 50px;
 }
 
 .branche img {
 width: 100vh;
 height: 230px;
 }
 .can img {
 width: 350px;
 height: 100px;
 }