@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Import de la font Roboto depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Roboto', sans-serif;
}
/* .centrerAdmin {
  color: black;
background-color: blue;  
padding: 10px;
  margin: 10px;
} */

 li {
  color: black !important;
  display: inline-block;  
  margin-right: 20px;     
}
.centrerAdmin a{
  text-decoration: none;
  color: black;
  margin-right: 20px;      
}

.menu-item a {
  color: black;
  font-weight: 450;
}
.centrerAdmin:hover {
  color: black;
  font-weight:450;/* Mettre le texte en gras */
  transform: translate(5%, -5% ); /* Décalage de 5% à droite et 2% vers le haut */
   
}


.wpcf7-form input[type="submit"] {
  display: block;
  margin: 0 auto; /* Centre le bouton */
  background-color:  #E0B9B4;
  text-decoration: none;
}

.wpcf7-form input[type="submit"]:hover {
  background-color: #C02E44;
  text-decoration: none;
}








.container {
   width: 100%;
   height: 800px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.branche-left{
 position: relative;
 height: 100vh;
 width: 260px;
 top: 75px;
 left: 450px;
margin: 40px;
margin-top: 0px;
margin-left: 25px;
margin-right: 45px;
margin-bottom: 125px;
}

.branche-right {
position: relative;

height: 80vh;
width: 100%;
top: 10px;
left: 382px;
margin: 40px;
margin-top: 100px;
margin-left: 38px;
margin-right: 25px;
margin-bottom: 58px;
}

.can {
height: 800px;
width: 65%;
position: relative;
top: 55px;
left: -150px;
margin: 50px;
margin-top: 70px;
margin-right: 45px;
margin-bottom: 0px;
}
.branche {
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
   left: -400px;
   /* margin: 50px; */
   margin-top: 50px;
   margin-right: 50px;
   margin-bottom: 50px;
 }
 
 .branche img {
 width: 100vh;
 height: 355px;
 }
 .can img {
 width: 650px;
 height: 100px;
 }

 #commander {
  height: 1480px;
 }

 /* style pour les tablettes */

 @media (min-width: 768px) and (max-width: 1024px) {
  /* Styles spécifiques pour les écrans compris entre 768px et 1200px */
 
  .branche-left, .branche-right {
    flex-direction: column;
      width: 100%; /* Ajuste la largeur pour les tablettes */
      height: auto;
      left: auto; /* Réinitialise la position gauche */
      margin-left: 60px; /* Ajuste les marges pour les tablettes */
      margin-right: 20px;
      
  }

  .branche {
    margin-bottom: 65px;

  }
  
  .branche img {
    width: 100vh;
    height: 200px;
    }

   .branche-left {
      width: 400px;
       height: auto; /*Ajuste la hauteur pour les tablettes */
       left: 415px;
   }  
   .branche-right { 
       height: auto; /*Ajuste la hauteur pour les tablettes */
       left: 350px;
  }
 
  .can {
    width: 100%;
    left: -140px;
  }
.can img {
      width: 100px; /* Ajuste la largeur de l'image pour les tablettes */
      height: auto; /* Maintient le ratio d'aspect */
  }
}



/* Styles pour les mobiles */
@media (min-width: 320px) and (max-width: 767px) {
  .container {
      flex-direction: column; /* Empile les éléments verticalement */
      height: auto; /* Ajuste la hauteur du conteneur */
      margin-bottom: 50%;
  }
.branche-left, .branche-right {
      width: 100%; /* Prend toute la largeur disponible */
      left: auto; /* Réinitialise la position gauche */
      margin: 40px;
      margin-left: 0; /* Réinitialise les marges */
      margin-right: 0;
      margin-bottom: 50px; /* Réduit les marges pour les mobiles */
  }
  .branche-left {
       height: 350px; /*Ajuste la hauteur pour les mobiles */
       margin-top: 900px;
       left: 14px;
       margin-bottom: -66px;


  }
  .branche-right {
      height: 450px; /* Ajuste la hauteur pour les mobiles */
      margin-top: 1050px;
      margin-bottom: -40px;
      left: -5px;
      margin-bottom: -66px;

  }

  .branche img {
    width: 30vh;
    height: 100px;
  }

  .can {
    width: 800px;
    height: auto;
    left: -10px;
    margin-bottom: 700px;


  }

.can img {
      width: 100vh; /* Prend toute la largeur disponible */
      height: 500px; /* Maintient le ratio d'aspect */
  }
}

 /* ********************************************************* */


 
 .envoyer {
   width: 70px;
 }

 .centrer {
  width: 39px;
  height: 20px;
 }


 .livraison {
  height: 450px;
 }
 #bouton {
  width: 180px;
  height: 200px;
 }

 .nom {
  color: #FFFFFF;
  
 }
 .prenom {
  color: #FFFFFF;
 }
 .email {
  color: #FFFFFF;
 }
 .message {
  color: #FFFFFF;
 }
 .separateur {
  background-color: #FFFFFF;
  height: 409px;
 }

 .wpcf7-form-control-wrap input {
  height: 80px;
  border-radius: 7px;
 }
textarea {
  height: 235px ;
  border-radius: 7px;
}



 
 